* {
  font-family: raleway, sans-serif;
}

.App {
  text-align: center;
  margin: 0 auto
}

.main-description-wrap {
  flex-wrap: wrap;
  position: fixed;
  bottom: 1em;
  background-color: white;
}

.main-description {
  font-size: 1.2em;
  text-align: left;
  margin: 0;
  padding: 1em;
  padding-bottom: 0.3em;
}

.main-description-sub {
  font-size: 0.7em;
  text-align: left;
  margin: 0;
  padding: 0em 2em 2em 2em;
}

.SVG {
  display: block;
}

/* .social-media-wrap a:hover {
  opacity: 0.2;
} */

.linked-img {
  width: 100px;
  height: 100px;
}

.Nav {
  position: fixed;
  top: 0;
  width: 100%;
  /* max-width: 425px; */
  height: 4em;
  padding: 1em;
  z-index: 2;
  background-color: white;
}

.nav-link-wrap {
  display: flex;
  list-style: none;
  position: fixed;
  right: 1em;
}

.nav-link {
  text-decoration: none;
  color: black;
  font-size: 0.75em;
  letter-spacing: 0.1em;
  margin: 0.5em;
  margin-right: 1.5em;
}

.nav-link:hover {
  opacity: 0.6;
}

.main-description-wrap p {
  margin: 0.2em;
  letter-spacing: 0.1em;
}

.background-img {
  width: 100%;
  height: 30em;
}

.Projects {
  margin: 0 auto;
  position: relative;
  text-align: center;
  top: 5em;
  background-color: white;
  /* 親要素text-align:center,
  子要素をdisplay:inline-blockにすると子要素がセンタリングされる */
}

.Projects h3 {
  font-weight: bold;
  font-size: 1.2em;
  letter-spacing: 0.1em;
}

.Projects p {
  display: block;
  font-size: 0.8em;
  letter-spacing: 0.1em;
}

.project-demo-wrap {
  margin-top: 3em;
  padding-bottom: 3em;
  border-bottom: solid 0.01em #cccccc;
}

.project-demo {
  display: inline-block;
}

.project-demo-description {
  text-align: left;
  margin: auto 4em;
}

@media only screen and (max-width: 680px) {
  .project-demo-wrap {
    margin-top: 1em;
    padding-bottom: 1em;
  }
  .project-demo {
    display: inline-block;
    width: 80%!important;
    /* height: 90%!important; */
  }
  .project-demo-description {
    text-align: left;
    margin: auto 3em;
    font-size: 0.75em;
  }
}

.CV-wrap {
  margin: 2em auto;
  width: 90%;
  position: relative;
  top: 4em;
  display: flex;
  flex-wrap: wrap;
  /* width: 100%; */
  background-color: white;
  text-align: left;
  color: black;
  font-size: 0.75em;
}

.CV-wrap h4 {
  margin: 0 0 0.5em 0;
  font-weight: normal;
  letter-spacing: 0.2em;
  opacity: 0.5!important;
}

.CV-column1 {
  /* margin: 0.5em 0; */
  width: 25%;
  position: relative;
  top: 1em;
  padding: 2em;
  padding-left: 6em;
  letter-spacing: 0.18em;
  opacity: 0.7;
}

.CV-column2 {
  width: 55%;
  position: relative;
  top: 1em;
  padding: 2em;
  padding-bottom: 0;
  opacity: 0.7;
}

.job-title-wrap {
  display: flex;
  flex-wrap: wrap;
  width: 95%;
}

.job-title {
  /* float: left; */
  flex: 1;
  min-width: 300px;
}

.job-title-year {
  /* float: right; */
  /* flex: 1; */
  width: 170px;
  text-align: right;
  font-size: 0.95em;
  margin: 0.6em;
  /* margin-left: 6em; */
}

.CV-article {
  margin-bottom: 1.5em;
}


.job-title-year div {
  padding-bottom: 0.2em;
}

.job-description {
  width: 95%;
  text-align: justify;
  clear: both;
}

.job-description p {
  margin: 0.2em;
}

@media only screen and (max-width: 1040px) {
  .job-title-year {
    text-align: left!important;
    margin-left: 0!important;
    width: 340px;
    /* float: left; */
  }
  .job-title-year div {
    display: inline-block;
    margin-right: 1em;
  }
  .CV-column1 {
    padding-left: 10em!important;
    padding-bottom: 0em!important;
  }
  .CV-column2 {
    padding-left: 11em!important;
    padding-bottom: 0em!important;
  }
}
